/*General Styles*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font: normal 16px sans-serif;
	color: #555;
}

ul,
nav {
	list-style: none;
}

a {
	text-decoration: none;
	opacity: 0.75;
	color: #fff;
}

a:hover {
	text-decoration: none;
}

a:hover {
	opacity: 1;
}

a.btn {
	border-radius: 4px;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	background-color: #3f51b1;
	opacity: 1;
}

p {
	font-size: 18px;
	padding: 10px 0px;
}

.grid {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

hr {
	width: 250px;
	height: 3px;
	background-color: #3f51b5;
	border: 0;
	margin-bottom: 50px;
}

section h3.title {
	text-transform: capitalize;
	font: bold 32px "Open Sans", sans-serif;
	margin-bottom: 30px;
	text-align: center;
}



/*Header Styles*/

header {
	background: #428cf4;
	/*#80A3DB*/
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	animation: 1s fadein 0.5s forwards;
	opacity: 0;
	color: #fff;
	z-index: 1;
}

@keyframes fadein {
	100% {
		opacity: 1;
	}
}
header ul {
	display: flex;
}
header ul li {
	padding: 0px 5px;
}
header nav {
	display: flex;
	margin-right: -15px;
}

header nav li {
	margin: 0 15px;
}

@media (max-width: 800px) {
	header {
		padding: 20px 50px;
		flex-direction: column;
		z-index: 1;
	}

	header h2 {
		margin-bottom: 15px;
	}
}

/*Hero Styles*/

.hero {
	position: relative;
	justify-content: center;
	text-align: center;
	min-height: 95vh;
	color: #fff;
}

.hero .background-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	z-index: -1;
	background-color: #428cf4;
  background-position-y: -60px;
}

.hero h1 {
	font: bold 80px "Open Sans", sans-serif;
	margin-bottom: 15px;
  color: #fff;
  text-shadow: #111 1px 0 10px;
}

.hero h3 {
	font: normal 28px "Open Sans", sans-serif;
	margin-bottom: 40px;
  text-shadow: #111 1px 0 3px;
  background: yellow;
  color: #111;
}

.hero a.btn {
	padding: 20px 46px;
}

.hero-content-area {
	opacity: 0;
	margin-top: 100px;
	animation: 1s slidefade 1s forwards;
}

.background-image {
  background-image: url('../img/bg-1.jpg');
  background-size: cover;
  animation-name: switchImages;
  animation-duration: 20s;
  animation-iteration-count:infinite;
  animation-timing-function: steps(1,end);
}

@keyframes slidefade {
	100% {
		opacity: 1;
		margin: 0;
	}
}

@keyframes switchImages {
  25% {
    background-image: url('../img/bg-2.jpg');
  }
  50% {
    background-image: url('../img/bg-3.jpg');
    background-position-y: -200px;
  }
  75% {
    background-image: url('../img/bg-4.jpg');
  }
}

@media (max-width: 800px) {
	.hero {
		min-height: 600px;
	}

	.hero h1 {
		font-size: 48px;
	}

	.hero h3 {
		font-size: 24px;
	}

	.hero a.btn {
		padding: 15px 40px;
	}
}

/*Footer Section*/

footer {
	display: flex;
	align-items: center;
	justify-content: space-around;
	background-color: #fff;
	color: #111;
	padding: 20px 0;
}

footer ul {
	display: flex;
}

footer ul li {
	margin-left: 16px;
}

footer p {
	text-transform: uppercase;
	font-size: 14px;
	opacity: 0.6;
	align-self: center;
}

footer a {
  color: #111;
}

@media (max-width: 1100px) {
	footer {
		flex-direction: column;
	}

	footer p {
		text-align: center;
		margin-bottom: 20px;
	}

	footer ul li {
		margin: 0 8px;
	}
}

/*Content Body*/
.content {
	padding: 20px;
}
div.content li.tag a {
	background: #888;
	padding: 2px 4px;
}
li.tag {
	display: inline-block;
	margin: 4px 2px;
}
div.content li.event a {
	color: #428cf4;
	border: 1px solid #428cf4;
	padding: 20px;
	margin-bottom: 10px;
	display: block;
	font-weight: 700;
}

div.content li.event a:hover {
	background: #428cf4;
	border: 1px solid #428cf4;
	color: #fff;
}

#wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
#events, #actions {
	flex-grow: 1;
}
#actions {
	width: 100%;
	background: #efefef;
}

@media (min-width: 500px) {
 #events, #actions {
	 width: 25%;
 }
 #actions {
	 width: 70%;
	 margin-left: 10px;
 }
 #wrapper {
	 flex-direction: row;
 }

}

div.action {
	padding: 15px;
}

div.action a {
	color: #428cf4;
}

div.action h1.eventTitle {
	margin: 0px;
}

.fa-twitter:hover, .fa-facebook:hover {
	cursor: pointer;
}
.fa-twitter:hover {
	color: #1dcaff;
}
.fa-money {
	color: green;
}

span.link {
	color: #111;
}
span.coins {
	color: green;
}
textarea {
	width: 100%;
}
.action-header {
	display: flex;
	justify-content: space-between;
}

button {
	padding: 5px 10px;
	border: 1px solid #3f51b1;
	font-size: 18px;
}
