{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}
{% block title %}Welcome,  {{ user.get_username }}!{% endblock %}
  <div id="wrapper">

    <section id="events">
      <p>Tags you are following:</p>
      <ul>
      {% if tags %}
      {% for tag in tags %}
         <li class="tag"><a href="#">{{tag.name}}</a></li>
      {% endfor %}
      {% endif %}
    </ul>
    <p>Choose an event you want to take action on:</p>
         <ul>
    {% for event in events %}
       <li class="event"><a href="#">{{event.eventName}}</a></li>
    {% endfor %}
     </ul>
   </section>
   <section id="actions">
     <div class="action">
       <div class="action-header">
          <h1 class="eventTitle"> <i class="fa fa-money"></i> Donate to Flint Water Fund</h1>
          <div class="action-social-media">
            <i class="fa fa-twitter fa-2x"></i>
            <i class="fa fa-facebook fa-2x"></i>
            <span class="coins">1+</span>
          </div>

        </div>
        <span class="link">http://www.unitedwaygenesee.org/flintwaterfund</span>
        <p><label><input type="checkbox" checked="checked">I took this action. </label>
        <span class="coins"><i class="fa fa-coin"></i>Coins 3+</span>
        <br />
        <label>What was your experience like?</label>
        <textarea></textarea>
        <button>Submit</button>
        <p>
          <a href="#">Show me the next action <i class="fa fa-arrow-right"></i></a>
        </p>
     </div>
   </section>
 </div>

{% else %}




{% endif %}

{% endblock %}
