{% extends 'base.html' %}

{% block title %}Welcome, Linda!{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  <div id="wrapper">

    <section id="events">
      <p>Tags you are following:</p>
      <ul>
        <li class="tag">Climate change</li>
        <li>Supreme Court</li>
        <li>Natural disasters</li>
        <li>War</li>
      </ul>
    <p>Choose an event you want to take action on:</p>
         <ul>
    {% for event in events %}

       <li class="event"><a href="#">{{event.eventName}}</a></li>
  {% endfor %}
     </ul>
   </section>
   <section id="actions">
     <div class="action">

     </div>
   </section>
 </div>

{% else %}
  <p>You are not logged in!</p>
  <a href="{% url 'login' %}">login</a> |
  <a href="{% url 'signup' %}">signup</a>
{% endif %}
{% endblock %}
